espnet==0.10.1
parallel_wavegan==0.5.1
espnet-model-zoo==0.0.0a30
espnet-tts-frontend==0.0.3
pyopenjtalk==0.1.3
SoundFile==0.10.3.post1
ipython==5.5.0
tensorflow==2.6.0
torch==1.9.0
torch-complex==0.2.1
torchsummary==1.5.1
torchtext==0.10.0
torchvision==0.10.0
numba==0.53.1
django==3.2.2
django-cors-headers==3.7.0
djangorestframework==3.12.4
