{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>I come from template!!</title>
    <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }

    </style>
</head>
<body>
<form action="/demo_test/" method="POST">
    {% csrf_token %}
    <h2>input text here</h2>
    <select name="lang">
        <option value="ch">ch</option>
        <option value="en">en</option>
    </select>
    <input type="text" name="text_input">
    <input type="submit" value="covert">

</form>
<br>
<div id="plot1">

    <!---<audio src="{% static 'audio_src/tmp.wav' %}" controls></audio>---->

</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
<script type='text/javascript'>
    $(document).ready(function () {
        $('input[name=query1]').change(function () {
            var lang = $('').val();
            var text=$('').val();
            $.ajax({
                data: { 'lang': lang ,"text_input":text },
                type: "POST",
                url: '/tts_api/',
                async: true,
                success: function (result) {
                    $('#plot1').empty();
                    result.map(function (data) {
                        $('#plot1').append('<audio src="{% static 'audio_src/tmp.wav' %}" controls></audio>');
                    });
                },
                error: function (response) {
                    alert(response.responseJSON.errors);
                }
            });
        });
    });

</script>

</html>